@font-face {
  font-family: dastnevis;
  src: url(../font/danstevis/danstevis.otf);
}

@font-face {
  font-family: gandom;
  src: url(../font/Gandom.ttf);
}

body {
  direction: rtl;
  font-family: gandom;
}

div.img_header {
  clip-path: polygon(50% 0%, 84% 0, 100% 0, 100% 70%, 100% 90%, 52% 100%, 0 89%, 0% 70%, 0% 35%, 0 0);
  background: url(../img/North-nature-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
}

div.img_header div.input-group {
  border-radius: 50px;
}

div.img_header h3 {
  font-size: 40px;
  padding-top: 50px;
  font-family: dastnevis;
}

div.img_header h5 {
  font-size: 30px;
  font-family: dastnevis;
}

div.img_header button#btnheader_search {
  border-radius: 2px;
}

div.img_header input#inputheader_search {
  border-radius: 2px;
}

div.body {
  margin-bottom: -10%;
  margin-top: -8%;
}

div.body div.pishnahadat div.card_pish, div.body div.pishnahadat div.card_post {
  cursor: pointer;
}

div.body div.pishnahadat div.overf, div.body div.pishnahadat div.card_post div.overfpish, div.card_post div.body div.pishnahadat div.overfpish {
  transition: all 1.5s ease-in-out;
  background: -webkit-linear-gradient(left, #00eeff, #0004ff);
  overflow: hidden;
  outline: 5px solid white;
  outline-offset: -190px;
}

div.body div.pishnahadat div.overf img.img_pish, div.body div.pishnahadat div.card_post div.overfpish img.img_pish, div.card_post div.body div.pishnahadat div.overfpish img.img_pish, div.card_post div.overfpish div.body div.pishnahadat div.overf img.img_post, div.body div.pishnahadat div.card_post div.overfpish img.img_post, div.card_post div.body div.pishnahadat div.overfpish img.img_post {
  transition: all 1s ease-in-out;
}

div.body div.pishnahadat div.overf img.img_pish:hover, div.body div.pishnahadat div.card_post div.overfpish img.img_pish:hover, div.card_post div.body div.pishnahadat div.overfpish img.img_pish:hover, div.card_post div.overfpish div.body div.pishnahadat div.overf img.img_post:hover, div.body div.pishnahadat div.card_post div.overfpish img.img_post:hover, div.card_post div.body div.pishnahadat div.overfpish img.img_post:hover {
  transform: scale(1.2);
  opacity: 0.5;
  outline: 10px red;
}

div.body div.pishnahadat div.overf:hover, div.body div.pishnahadat div.card_post div.overfpish:hover, div.card_post div.body div.pishnahadat div.overfpish:hover {
  outline-offset: -30px;
}

div.body svg.svg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

div.aboutmy {
  clip-path: polygon(5% 0, 100% 0, 94% 100%, 0 100%);
  background: url(../img/Colorful-nature-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 150%;
  width: 100%;
}

div.aboutmy h4 {
  letter-spacing: 2px;
}

div.aboutmy img.img-icon-about {
  background-color: rgba(255, 0, 242, 0.356);
}

div.aboutmy div.box_about {
  clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);
  background: -webkit-linear-gradient(left, #ffa4ff85, #8fe5ff);
  border-radius: 15px;
  transition: all 1s ease-in-out !important;
  border-top: 0px solid rgba(0, 247, 255, 0.39);
  cursor: pointer;
}

div.post {
  cursor: pointer;
}

div.card_post {
  box-shadow: 0px 10px 30px rgba(158, 158, 158, 0.842);
}

div.card_post div.overfpish {
  transition: all 1.5s ease-in-out;
  background: -webkit-linear-gradient(left, #00eeff, #0004ff);
  overflow: hidden;
  outline: 5px solid white;
  outline-offset: -190px;
}

div.card_post div.overfpish img.img_post {
  transition: all 2s ease-in-out;
}

div.card_post div.overfpish img.img_post:hover {
  transform: scale(1.5);
  opacity: 0.5;
  outline: 10px red;
}

div.card_post div.dfp {
  padding: 12.5%;
}

div.motekhases {
  margin-top: 100px;
  background: url(../img/90629f11-7164-4162-9028-f2e367db5bf2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  animation-name: zoom;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

div.motekhases p.pmo {
  line-height: 100px;
  font-size: 39px;
}

div.motekhases div.divcolmo {
  padding-bottom: 180px;
  padding-top: 90px;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

div.moghasli {
  background: url(../img/Hamgardi_5008uy97g7D.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

div.moghasli p.pmogh {
  font-size: 45px;
}

nav a.nav-link {
  font-size: 110% !important;
}

nav h1.navbar-brand {
  font-size: 150%;
}

p.p_post {
  font-size: 250%;
  font-family: dastnevis;
  font-weight: bold;
}

p.pnazar {
  font-size: 50px;
  padding-top: 100px;
  font-family: dastnevis;
  color: #00306e;
}

p.pm {
  font-size: 20px;
  padding-top: 10px;
}

svg.svg1 {
  margin-top: -6%;
  opacity: 0.5;
}

button.btnmo, button.moghbtn, button.btnm {
  background-color: cornflowerblue;
  color: white;
}

img.imgm {
  border-radius: 50%;
  border: 4px solid silver;
}

i.icon_er {
  font-size: 25px;
  transition: all 1s ease-in-out;
}

i.icon_er:hover {
  color: #00ff00 !important;
}

h2.name_brand_footer {
  font-family: dastnevis;
  color: royalblue;
  transition: all 1s ease;
}
/*# sourceMappingURL=scss.css.map */